.header-blog {
  background-color: white;
}
body {
  background-image: linear-gradient(241.04deg, #c1fffc 0%, #ffffff 100%);
}

.title {
  width: 100%;
}

.title h1 {
  font-size: 2.441rem;
  font-weight: 800;
}

.title span {
  font-weight: 300;
  font-size: 1rem;
  font-size: 0.8rem;
}

.blog-banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.blog-banner > img {
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

tr td:nth-child(1) {
  font-weight: bold;
  text-align: left;
}
td,
th {
  border: 1px solid #000;
  text-align: center;
  padding: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .blog-banner {
    height: 23vh;
  }
  td {
    padding: 1rem;
  }
}
